
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcuserdata/quandinh.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm/xcode/xcuserdata/quandinh.xcuserdatad/xcschemes/xcschememanagement.plist
*.pcm
